node_modules
.next
.git
.gitignore
.env*
env-template*
*.md
.DS_Store
.vercel
coverage
npm-debug.log*
data
__tests__
compose*.yaml
Dockerfile
.dockerignore
.nvmrc
.prettierrc*
vitest*.config*
eslint.config*
